@model TechnicalAssessment.Models.Person

<form asp-action="Index" method="post">
    <input asp-for="FirstName" placeholder="First Name" />
    <input asp-for="LastName" placeholder="Last Name" />

    <button type="submit">Submit</button>
</form>